option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: "production"

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t3.small
    SecurityGroups: default
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elb:policies:
    ConnectionDrainingEnabled: true
    ConnectionDrainingTimeout: 20
  aws:elb:healthcheck:
    HealthyThreshold: 3
    Interval: 30
    Target: "HTTP:80/health"
    Timeout: 5
    UnhealthyThreshold: 5
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7